.sky {
    position:absolute;
    width:100%;
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #283E51, #0A2342);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #283E51, #0A2342); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -olinear-gradient(to top, #283E51, #0A2342); 
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .stars {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
  }
  