.carousel {
  margin-bottom: 70px;
  width: 80%;
  z-index: 4;;
}

.slick-dots li {
  top: 25px;
  margin: 0 16px;
}

.slick-dots li button:before {
  content: '';
  background: #d8d8d8;
  opacity: 1;
  display: block;
  height: 4px;
  width: 40px;
}

.slick-dots li.slick-active button:before {
  content: '';
  display: block;
  background: #ffffff;
  opacity: 1;
  height: 4px;
  width: 40px;
}

.container-card-carousel {
  display: flex !important;
  justify-content: center;
  outline: none;
}