.bgExploration {
  background-image: url("../../assets/Exploration/bg-2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
.scoreBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20vh;
  background-color: rgb(63, 63, 63);
  border-radius: 0 0 20px 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 38px 2px rgba(0,0,0,0.75);
  color: #d6d6d6;
  z-index: 2;
  font-size: 30px;
  
}

.scoreBoard h3 {
  font-family: "Skranji";
  font-weight: 400;
}
.lootBoard{
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  
}

.lootContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  width: 400px;
  margin-bottom: 30px;
}
.loot {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}
.mapMain {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mapBox {
  width: 70%;
  height: 70vh;
  margin-top: 150px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 38px 2px rgba(0,0,0,0.75);
}
.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.selectedMarker {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px 0 0 60px;
  width: 250px;
  height: 90%;
  background-color: #0a324b;
  color: #d6d6d6;
  z-index: 1;
  padding: 5px;
  font-weight: bold;
  border-radius: 20px;
}
.selectedMarker h2 {
  font-size: 25px;
  text-align: center;
  font-family: "Skranji";
  font-weight: 400;
}
.selectedMarker ul {
  font-size: 20px;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-content: space-between;
  width: 150px;
  height: 50px;
  flex-wrap: wrap;
  list-style: none;
}
.imgSelectedMarker {
  background-image: url("../../assets/Exploration/imgMarker.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: 50%;
  border-radius: 20px;
}
.logoRessourcesMapGold {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/communs/gold.png');
}
.logoRessourcesMapFood{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/communs/meat.png');
}
.logoRessourcesMapWood {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/communs/wood.png');
}
.logoRessourcesMapEnemies {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/communs/kill.png');
}
.buttonAttack {
  background-color: gray;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  font-size: 25px;
  border-radius: 20px;
  font-family: "Skranji";
}
.mapboxgl-canvas:focus {
  outline-width: 0;
}

.markerMap {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/Exploration/marker.png');
  width: 2.5em;
  height: 2.5em;
}

@media only screen and (max-width: 1024px) and (min-width: 853px){
  .selectedMarker{
    top: 5%;
    left: 30%;
    margin: 0;
  }

}

@media only screen and (max-width:515px) and (min-width: 0px) {
  .selectedMarker{
    top: 5%;
    left: 0%;
    margin: 10px 12px 0;
    width: 200px;
    height: 350px;
  }
}

@media only screen and (max-width: 1024px) {
  .buttonAttack{
    font-size: 20px;
    text-align: center;
    padding: 5px 10px 5px 10px;
  }
}